.i{
    display: flex;
    height: 100vh;
    padding-top: 7vh;
}

.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right{
    flex: 1;
}

.i-left-wrapper {
    padding: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-logo {
    height: 10%;
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
}

.i-name{
    font-size: 60px;
}

.i-title-wrapper {
 height: 100%;
 animation: move 10s ease-in-out infinite alternate;
}

@keyframes move{
    25%{
        transform: translateY(-45px);
    }
    50%{
        transform: translateY(-95px);
    }
    75%{
        transform: translateY(-140px);
    }
    100%{
        transform: translateY(-145px);
    }
}

.i-title{
    height: 50px;
    overflow: hidden;
}

.i-title-item {
    height: 52;
    font-size: 30px;
    font-weight: bold;
    color: slategrey;
    display: flex;
    align-items: center;
    
}

.i-img{
    width: 100%;
    object-fit: fill;
    overflow:hidden;

}

.nav-item .active{
   background-color: gray;  
}

.typed {
    font-size: 60px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 5s steps(30, end) forwards, blinking 2s infinite alternate;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-delay: 2s;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: black}
    100% {border-color: transparent}
  }
  